

.header__navigation{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0px;
}
.menu__nav{
    margin-left: 23px;
    margin-right: 23px;
}
.active::after{
    content: "";
    display: block;
    border-bottom: 4px solid getColor('color-hovercol');
    height: 28px;
}
.header__navigation--agencies, .header__navigation--contacts, .header__navigation--portfolio{
    font-style: $font-style-one;
    font-weight: $font-weight-four;
    font-size: $pixeli-nine;
    line-height: $pixeli-eighteen;
    letter-spacing: $spacing-three;
    color: getColor('color-textcol');
    text-decoration: none;
    transition: color 250ms;
}
    .header__navigation--agencies:hover,
    .header__navigation--portfolio:hover,
    .header__navigation--contacts:hover{
        fill: getColor('color-hovercol');
        color: getColor('color-hovercol');
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    

    @media screen and (max-width: 767px){
        .header__navigation{
            display: none;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    