.production{
    height: 386px;
    margin-top: 94px;
    margin-bottom: 94px;
}

.production__tytuł{
    font-style: $font-style-one;
    font-weight: $font-weight-one;
    font-size: $pixeli-twenty-two;
    line-height: $pixeli-twenty-six;
    text-align: $direkt-two;
    letter-spacing: $spacing-one;
    color: getColor('color-textcol');
    margin-top: 0px;
    margin-bottom: 50px;
}
.production__photo{
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.production__box{
    position: relative;
}
.production__box--text{
    font-style: $font-style-one;
    font-weight: $font-weight-one;
    font-size: $pixeli-nine;
    line-height: $pixeli-eighteen;
    text-align: $direkt-two;
    letter-spacing: $spacing-one;
    text-transform: uppercase;
    color: getColor('color-bacground');
    background: getColor('color-rgb');
    position: absolute;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 225px;
}
@media screen and(max-width: 1199px) {
    .production{
        display: none;
    }
}