

.sites{
    list-style-type: none;
    margin: 0%;
    padding-inline-start: 0%;
}
.sites__card:hover{
    cursor: pointer;
    border: $border getColor('color-jelly');
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-timing-function: $cubic-one;
}
.sites__card{
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    transition: box-shadow $msec-one;
}
.sites__card--img{
    position: relative;
    width: 100%;
    height: 294px;
    overflow: hidden;
    margin: 0%;
}
.sites__card--img:hover .img__overlay--hover {
    transform: translatey(0);
}
.img__overlay--hover{
    position: absolute;
    top: $pixeli-four;
    left: $pixeli-four;
    width: 100%;
    height: 295px;
    background-color: getColor('color-hovercol');
    transform: translatey($procent-three);
    transition: transform $msec-one ease;
    display: flex;
    align-items: center;
}
.overlay__text{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: getColor('color-bacground');
    width: 402px;
    height: 140px;
    margin: auto;
}
.sites__group{
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
}
.sites__card--title{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: getColor('color-textcol');
    text-decoration: $paradiz;
    margin: 0%;
}

.sites__card--type{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: getColor('color-primaty');
    text-decoration: $paradiz;
    margin: 0%;
}

@media screen and(max-width: 767px){
    .sites{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .sites__card{
        flex-basis: calc((100% - 30px) / 1);
        width: 450px;
        height: 404px;
        margin: 0%;
    }
    .overlay__text{
        width: 402px;
        height: 140px;
    }
    .sites__group{
        width: 402px;
        height: 70px;
    }
    .overlay__text{
        width: 402px;
        height: 140px;
    }
}

@media screen and (min-width:768px) and(max-width: 1199px){
    .sites{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .sites__card{
        flex-basis: calc((100% - 30px) / 2);
        width: 354px;
        height: 440px;
        margin: 0%;
    }
    .img__overlay--hover{
        width: 354px;
    }
    .sites__group{
        width: 306px;
        height: 72px;
    }
    .overlay__text{
        width: 306px;
        height: 196px;
    }
}

@media screen and (min-width:1200px){
    .sites{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .sites__card{
        flex-basis: calc((100% - 60px) / 3);
        width: 370px;
        height: 404px;
        margin: 0%;
    }
    .img__overlay--hover{
        width: 370px;
    }
    .sites__group{
        width: 322px;
        height: 70px;
    }
    .overlay__text{
        width: 301px;
        height: 196px;
    }
}


